<div class="footer">
  © <script type="text/javascript"> document.write(new Date().getFullYear()); </script> Jianzong
  &nbsp;
  <span class="snow">·</span>
  &nbsp;
  <a href="https://github.com/haojianzong" title="Getting start">github</a>
  &nbsp;
  <span class="snow">·</span>
  &nbsp;
  <a href="https://www.quora.com/Hao-Jianzong" title="I love Quora">quora</a>
  &nbsp;
  <span class="snow">·</span>
  &nbsp;
  <a href="http://www.twitter.com/ggtarzan" title="Sleeps and wakes up with me">twitter</a>
  &nbsp;
  <span class="snow">·</span>
  &nbsp;
  <a href="http://www.zhihu.com/people/hao-jian-zong" title="Check my answers on zhihu">zhihu</a>
  &nbsp;
  <span class="snow">·</span>
  &nbsp;
</div>