---
layout: default
---

<div class="post-header">
	<h2 class="post-title">{{ page.title }}</h2>
	<span class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</span><br>
	{% if page.update_date %}
		<span class="post-meta">Updated: {{ page.update_date | date: "%Y-%m-%d" }}</span><br>
	{% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

<div class="related-post">
	<h3 class="related-post-title">相关文章</h3>
	<ul>
	{% for post in site.related_posts limit:3 %}
		<li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link related-post-title">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
</div>

{% if site.comments %}
  {% include comments.html %}
{% endif %}