---
layout: default
---

<div class="post-header">
	<h2 class="post-title">{{ page.title }}</h2>
	<p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}
		{% if page.categories.size != 0 %}
		 | 
		<span class="categories">
		  分类
		  {% for cat in page.categories %}
		  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
		  {% endfor %}
		</span>
		{% endif %}
		{% if page.tags.size != 0 %}
		 | 
		<span class="tags">
		  标签
		  {% for tag in page.tags %}
		  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
		  {% endfor %}
		</span>
		{% endif %}
	</p>
</div>

<article class="post-content">
  {{ content }}
</article>

<div class="related-post">
	<h3 class="related-post-title">相关文章</h3>
	<ul>
	{% for post in site.related_posts limit:3 %}
		<li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link related-post-title">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
</div>

{% if site.comments %}
  {% include comments.html %}
{% endif %}